body {
    font-size: var(--base-font-size);
}

.toolbar {
    background-color: #333333;
}

#Green {
    background-color: #00ff00;
    border: none;
    border-radius: 5px;
}

#Green:hover {
    background-color: #00ff0090;
}

#urlInput {
    border-radius: 5px;
}

.footbar input {
    border: none;
}

#back {
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
}

#back:hover {
    background-color: #a00202;
}

#close {
    border: none;
    border-radius: 5px;
}

#forward {
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
}

.bookmark {
    display: none;
    width: 120px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #e0e0e0;
    min-width: 90px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
}

.bookmark button {
    text-decoration: none;
    color: #121212;
    background-color: #e0e0e0;
    border: none;
}

.bookmark button:hover {
    background: #f5f5f5;
}

#homepage {
    background-color: yellow;
    border: none;
    border-radius: 5px;
}

#bookmarks {
    background-color: orange;
    border: none;
    border-radius: 5px;
}

#bookmarks:hover {
    background-color: rgba(255, 166, 0, 0.503);
}

#slicegallery {
    background-color: dimgrey;
    border: none;
    border-radius: 5px;
}

#slicegallery:hover {
    background-color: rgba(105, 105, 105, 0.497);
}

#homepage:hover {
    background-color: rgba(255, 255, 0, 0.636);
}

#forward:hover {
    background-color: lawngreen;
}

#refresh {
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
}

#refresh:hover {
    background-color: rgb(22, 121, 116);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu {
    display: none;
}


.dropdown-menu {
    width: 100px;
    position: absolute;
    background: #e0e0e0;
    min-width: 90px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



.ribbon button {
    border: none;
    color: #121212;
    background: #e0e0e0;
}

.ribbon button:hover {
    background: #f1f1f1;
}