body {
margin: 0;
padding: 0;
font-family: 'Segoe UI';
color: #f5f5f5;
font-size: var(--base-font-size)
}


footer {
    background: linear-gradient(135deg, #111111, #222222, #333333);
    width: 100%;   
    backdrop-filter: blur(10%);
    -webkit-backdrop-filter: blur(10%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.start {
    position: relative;
    display: inline-block;
}

.start-menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    min-width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    background-color: #333333;
    border-radius: 15px;
}

.start-button {
    position: relative;
    cursor: pointer;
    padding: 15px 25px;
    background-color: #444444;
    color: #f5f5f5;
    border: none;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    font-size: 1.1rem;
}

.start-button:hover, .start-menu a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.start-menu a {
    color: #f5f5f5;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.left-side {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.icons {
    gap: 20px;
}


.allapps {
    position: relative;
    display: inline-block;
}

.apps {
    display: none;
    width: 100px;
    position: absolute;
    background: #e0e0e0;
    min-width: 90px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


#btn:hover .apps {
    display: block;
}

#menu button, #content button {
    background-color: #555555;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #f5f5f5;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#menu button:hover, #content button:hover {
    background: rgba(255, 255, 255, 0.05);
}

#settings {
    padding: 0;
    margin: 0;
    background: #333333;
    color: #f5f5f5;
    z-index: 1;
    background-size: cover;
}

#title {
    text-align: center;
}

#content {
    margin: 100px;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #222222;
    gap: 18px;
}

h3 {
    text-align: center;
}

#menu {
    margin: 100px;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.about, .developers, .feedback, .aboutpc, .aboutos, .display, .accessibility, .personalize {
    background-color: #333333;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close, #settingshome {
    background-color: #ff0000;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #f5f5f5;
}

#close:hover, #settingshome:hover {
    background-color: #8d0000;
}

.more {
    display: none;
}


