body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    background: url(photos/wallpaper/alien-planet-3840x2160-22104.jpg);
    background-size: cover;
    color: #f5f5f5;
}

footer {
    background: linear-gradient(135deg, #111111, #222222, #333333);
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.left-side {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.icons {
    gap: 20px;
}

.start {
    position: relative;
    display: inline-block;
}

.start-menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    min-width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    background-color: #333333;
    border-radius: 15px;
}

.start-button {
    position: relative;
    cursor: pointer;
    padding: 15px 25px;
    background-color: #444444;
    color: #f5f5f5;
    border: none;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    font-size: 1.1rem;
}

.start-button:hover, .start-menu a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.start-menu a {
    color: #f5f5f5;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}



