* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f5;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px #00000033;
    max-width: 450px;
    text-align: center;
}

h2 {
    margin-bottom: 20px 0;
    color: #333;
}

.text {
    margin: 20px;
    font-size: 18px;
    color: #555;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    resize: none;
}

#calculate {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calculate:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

.ribbon {
    display: flex;
    padding: 1px;
    background-color: #e0e0e0;
  }

  .ribbon button {
    border: none;
    color: #121212;
    background: #e0e0e0;
    margin-left: 4px;
    padding: 6px 10px;
    cursor: pointer;
}

.ribbon button:hover {
    background: #f1f1f1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu {
    display: none;
}


.dropdown-menu {
    width: 100px;
    position: absolute;
    background: #e0e0e0;
    min-width: 90px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}